<div class="main-content">
    <input type="button" *ngIf="IsAllowAdd" data-toggle="modal" data-target="#AddModal" value="Add"
        class="btn btn-success">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table     table-hover">
                                <thead class="">
                                    <th *ngFor="let itemName of dataProperty" [hidden]="itemName.IsHide">
                                        {{itemName.KeyEn}}
                                    </th>
                                    <th *ngIf="IsAllowEdit">
                                        Edit
                                    </th>
                                    <th *ngIf="IsAllowDelete">
                                        Delete
                                    </th>
                                </thead>
                                <tbody *ngFor="let item of data">
                                    <tr>
                                        <td *ngFor="let itemName of dataProperty" [hidden]="itemName.IsHide">

                                            <span *ngIf="itemName.Key!='image';else showImage">
                                                <span *ngIf="itemName.Type=='text';else showAnthorInput">
                                                    {{item[[itemName.Key]]|slice:0:15}}
                                                </span>
                                                <ng-template #showAnthorInput>
                                                    <span *ngIf="itemName.Type=='date';else showAnthorInput2">
                                                        {{item[[itemName.Key]]| date: 'dd/MM/yyyy'}}
                                                    </span>
                                                    <ng-template #showAnthorInput2>
                                                        {{item[[itemName.Key]]}}
                                                    </ng-template>
                                                </ng-template>
                                            </span>
                                            <ng-template #showImage>
                                                <img src="{{imageUrl+item[[itemName.Key]]}}" width="45" height="45">
                                            </ng-template>
                                        </td>
                                        <td *ngIf="IsAllowEdit">
                                            <input type="button" value="Edit" data-toggle="modal"
                                                data-target="#EditModal" (click)="ShowId(item)" class="btn btn-success">
                                        </td>
                                        <th *ngIf="IsAllowDelete">
                                            <input type="button" value="Delete" (click)="Delete(item.id)"
                                                class="btn btn-danger">
                                        </th>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="AddForm" (ngSubmit)="Add()">
                    <div class="form-group" *ngFor="let item of dataProperty">
                        <label [hidden]="item.IsHide">
                            {{item.KeyEn}} <span *ngIf="AddForm.controls[item.KeyAdd].invalid &&item.IsRequired"
                                style="color: red;">*</span></label>

                        <div *ngIf="item.Key=='image';else other_input">
                            <input #fileAdd (change)="uploadFile(fileAdd.files)" type="{{item.Type}}"
                                name="{{item.KeyAdd}}" formControlName="{{item.KeyAdd}}" class="{{item.ClassHtml}}"
                                [hidden]="item.IsHide" id="{{item.KeyAdd}}" placeholder="{{item.KeyEn}}">
                        </div>
                        <ng-template #other_input>
                            <input type="{{item.Type}}" name="{{item.KeyAdd}}" formControlName="{{item.KeyAdd}}"
                                class="{{item.ClassHtml}}" [hidden]="item.IsHide" id="{{item.KeyAdd}}"
                                placeholder="{{item.KeyEn}}">
                        </ng-template>
                        <div *ngIf="AddForm.controls[item.KeyAdd].invalid &&item.IsRequired && (AddForm.controls[item.KeyAdd].dirty || AddForm.controls[item.KeyAdd].touched)"
                            class="alert">
                            <div *ngIf="AddForm.controls[item.KeyAdd].errors.required" style="color: red;">
                                * {{item.KeyEn}} is required
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="EditForm" (ngSubmit)="Edit()">
                    <div class="form-group" *ngFor="let item of dataProperty">
                        <label [hidden]="item.IsHide">
                            {{item.KeyEn}} <span *ngIf="EditForm.controls[item.KeyEdit].invalid &&item.IsRequired"
                                style="color: red;">*</span></label>
                        <div *ngIf="item.Key=='image';else other_input">
                            <input #fileEdit (change)="uploadFile(fileEdit.files)" type="{{item.Type}}"
                                name="{{item.KeyEdit}}" formControlName="{{item.KeyEdit}}" class="{{item.ClassHtml}}"
                                [hidden]="item.IsHide" id="{{item.KeyEdit}}" placeholder="{{item.KeyEn}}">
                        </div>
                        <ng-template #other_input>
                            <input type="{{item.Type}}" name="{{item.KeyEdit}}" formControlName="{{item.KeyEdit}}"
                                class="{{item.ClassHtml}}" [hidden]="item.IsHide" id="{{item.KeyEdit}}"
                                placeholder="{{item.KeyEn}}">
                        </ng-template>


                        <div *ngIf="EditForm.controls[item.KeyEdit].invalid &&item.IsRequired && (EditForm.controls[item.KeyEdit].dirty || EditForm.controls[item.KeyEdit].touched)"
                            class="alert">
                            <div *ngIf="EditForm.controls[item.KeyEdit].errors.required" style="color: red;">
                                * {{item.KeyEn}} is required
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>