.app-body{
    
    background-size: cover;
    padding: 40px 0;
    margin: 0;
    position: relative;
    z-index: 1;
    min-height: 100vh;
  }
  
  .app-body::after
  {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background: linear-gradient(#00000085,#000000cf 60%,#000);
  }
  
  .form_login{
    width: 430px;
    background: #080916;
    padding: 30px;
    border-radius: 15px;
    max-width: 100%;   
     text-align: right;
    color: white;
  }
  
  
  
  .input-group-text{
    padding: 0;
    width: 42px;
    height: 42px;
    border: 2px solid var(--main);
    border-radius: 50%;
    flex-shrink: 0;
    justify-content: center;
    font-size: 18px;
    background: #080916;
    color: var(--main);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    transition: all 0.3s linear 0s;
  }
  
  .form-control
  {
    height: 50px;
    background: #FFF;
    border: none;
    border: 1px solid var(--main);
    border-radius: 100px;
    padding-inline-start: 50px;
  }
  
  .form-control:focus + .input-group-text {
    background: var(--main);
    color: #080916;
  }
  
  
  .form-group label {
    padding: 0 12px;
    color: var(--main);
    font-weight: bold;
  }
  
  
  
  @media (max-width: 767.98px) {
  .outer_formas_{
    flex-wrap: wrap-reverse;
    justify-content: center !important;
  }
  }
  