<div class="app-body" style="background-image: url(../../../assets/img/background.jpg);height: 710px;">
    <main class="flex-grow-1 d-flex align-items-center">

        <div class="d-flex justify-content-between align-items-center outer_formas_"
            style="left: 500px !important;position: relative;">


            <div class="form_login">
                <form [formGroup]="valid" (submit)="Login()">
                    <div class="mb-20">
                        <h3 class="main-color f-b">تسجيل دخول</h3>
                        <p class="text-muted f-b font-11">تسجيل الدخول إلى حسابك</p>
                    </div>

                    <div class="form-group form-label-right">
                        <label>البريد الالكترونى</label>
                        <div class="po_R">
                            <input type="email" class="form-control" placeholder="البريد الالكترونى"
                                autocomplete="email" formControlName="email" required>

                        </div>
                    </div>

                    <div class="form-group form-label-right">
                        <label>كلمة المرور</label>
                        <div class="po_R">
                            <input type="password" class="form-control" placeholder="كلمة المرور"
                                autocomplete="current-password" formControlName="password" required>

                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" color="info" class="btn btn-success" style="margin: 20px 129px;">تسجيل
                            دخول</button>
                    </div>
                </form>
            </div>



            <div class="mb-20 text-center">
            </div>



        </div>
    </main>
</div>